@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  color: var(--font-primary-color);
}

body {
  background-image: linear-gradient(to bottom, #66d2fb, #57c8f2, #45bee9, #31b5e1, #10abd8);
}

.content {
  width: 100%;
  max-width: 720px;
  border-radius: 10px;
  height: 100vh;
  margin: 0 auto;
}

.littleText {
  font-size: 16px;
  color: #f1f1f1;
  font-weight: 600;
  -webkit-text-stroke: 1px rgba(0,0,0,0.04);
}

/* ----------------------------------------------------------------------------------------------*/

header {
  padding-top: 0;
  color: var(--primary-color);
  text-align: center;
  background-color: #1d4859;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  padding-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid var(--terciary-color);
  color: black;

}

input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(81, 203, 238, 1); /* Substitua pela cor desejada */
}

/* Google AutoComplete */

.pac-item > span{
  font-size: 12px;
  color: black;
}

.pac-matched {
  font-weight: 600;
  font-size: 14px;
  color: black;

}

.pac-container {
  width: 340px;
  position: absolute;
  left: 154px;
  top: 210px;
  padding: 5px;
  color: black;
}

/* ----------------------------------------------------------------- */

nav {
  display: flex;
  justify-content: space-around;
  height: 30px;
}

nav > a {
  text-decoration: none;
  border-bottom: 3px solid white;
}

.changeBTN {
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  font-weight: 600;
  color: white;
}

.changeBTN.isActive {
  border-bottom: 2px solid #f1f1f1;;
}

/* ------------------------------------------------------------------------------------------------------*/

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dataDIV {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.dataDIV > span{
  color: rgba(0,0,0,0.4);
  font-weight: 600;
}

.tempInfo {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dadosDIV {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#temperatura {
  font-size: 5.5rem;
  color: #f1f1f1;
  -webkit-text-stroke: 1px rgba(0,0,0,0.2);
}

.iconDIV {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  gap: 10px;
}

.iconDIV > img {
  width: 120px;
}

/* -------------------------------------------------------- */

#chartContainer {
  width: 100%;
  max-width: 720px;
  position: fixed;
  bottom: 0;
}

@media (min-width: 720px) {
  .content {
    background-color: rgba(0,0,0,0.1);
    height: 80vh;
    top: 8vh;
    position: relative;
  }
  header {
    background-color: rgba(0,0,0,0);
    padding-top: 15px;
  }
  .wrapper {
    height: 100vh;
  }
  #chartContainer {
    position: absolute;
    bottom: 0;
    padding-bottom: 6px;
  }
}